/* LAYOUT */
body {
	margin: 0;
	background-color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
}
.container {
	width: 1140px;
}


/* HEADER */
header {
	width:100%;
	height: 810px;
	text-align: center;
	background-size: cover;
	background-image: url("image/photo-1433354359170-23a4ae7338c6.jpg");
	background-color: transparent;
}


/* TYPOGRAPHY */
hgroup h5, hgroup h2 {
	width: 50%;
	margin: 0 auto;
}
h2, h4, h5 {
	font-weight: 500;
}
h1, h3, h5, h6 {
	margin: 0;
}
h6, p, a {
	color: #767779;
}
h1 {
	padding: 165px 200px 0;
	font-size: 60px;
	font-weight: 100;
	line-height: 75px;
}
h2 {
	font-size: 40px;
	line-height: 50px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 16px;
	color: #ff6d6d;
}
h3 {
	font-family: 'Lato', sans-serif;
	font-size: 26.88px;
	line-height: 33.6px;
}
p {
	font-size: 16px;
	line-height: 26px;
}
h6 {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}
a:hover{
	color: #dadada;
}


/* BUTTONS */
.btn-play {
	width: 60px;
	height: 60px;
	background-color: #8185a3;
	border-radius: 100%;
	display: block;
	margin:60px auto 40px;
}
.btn-play:before {
	content:'';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom:10px solid transparent;
	border-left: 15px solid #ffffff;
	display: inline-block;
	margin: 20px 25px 20px 25px;
}
.btn {
	background-color: #ff6d6d;
	border-radius: 5px;
	border: 0;
	cursor: auto;
	font-size: 16px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 50px;
	text-decoration: none;
	color: #ffffff;
	width:190px;
	display: inline-block;
}
.btn-arrow {
	width:50px;
	height:50px;
	background-color: #ff6d6d;
	border-radius: 3px;
	display: block;
	position: absolute;
	left: 226px;
	box-shadow: 1px 2px 5px;
}



/* FORM */
input {
	width: 261px;
	height: 50px;
	padding: 0;
	background-color: #474d78;
	border: solid #999cb4;
	border-width: 1px;
	border-radius: 3px;
	font-size: 16px;
	font-family:'Exo', sans-serif;
	color: #ffffff;
	text-indent: 30px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}
form .btn {
	border-radius: 3px;
	word-spacing: 1px;
	width:263px;
}
form a {
	color: #ffffff;
}

/* PRELUDE (DESCRIPTION) */
.prelude {
	height: 725px;
}
.prelude:before {
	content:'';
	width: 0;
	height: 0;
	border-left: 485px solid transparent;
	border-bottom: 485px solid #ff6d6d;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 1050px; 
	z-index: 0;
}
.prelude h2:after, .description h2:after {
	content:' ....';	
	color: #ff6d6d;
}
.prelude h5 {
	margin-top: 190px
}
.prelude p {
	padding-right: 10px;
}
.prelude img {
	height: 725px;
	position: absolute;
	margin-right: -221px;
	right: 0;
	opacity: 0.3;
}

/* FEATURE */
.feature {
	height: 675px;
	background-color: #f6f5f3;
	text-align: center;
	overflow: hidden;
}
.feature h5 {
	padding-top: 140px;
}
.feature p {
	padding: 0 30px 0;
}
.row {
	clear: both;
}
.small-picture img {
	height: 65px;
	width: 65px;
}
.picture-top-left {
float: left;
}
.picture-top, .picture-bottom {
	float: right;
}
.picture-top-left, .picture-top {
	margin-top: -15px;
}
.picture-bottom {
	margin-top: 60px;
}
/* DESCRIPTION */
.description {
	height: 550px;
}
.description img {
	max-width: 110%;
	margin-left: -70px;
	margin-top: -30px;
}
.description .picture, .description h5 {
	padding-top: 130px;
}
.description:before {
	content:'';
	width: 550px;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 470px solid transparent;
	border-bottom: 550px solid #ff6d6d;
	display: inline-block;
	position: absolute;
	left: 0;
	z-index: 0;
}

/* CLIENTS */
.clients {
	height: 650px;
	background-color: #1f2026;
	text-align: center;
	background-size: cover;
	background-image: url("image/bground.png");
	background-color: transparent;
}
.clients p {
	padding: 0 35px;
	margin-bottom: 30px;
}
.clients h4 {
	color: #ffffff;
}
.image {
	height: 90px;
	width: 120px;
	margin: 90px auto 0;
}
.image img {
	width: 100%;
	border-radius: 3px;
	border: 1px solid  #767779;
}
/* te klasy wprowadziłem żeby zróżnicować zdjęcia, nie potrafiłęm w inny sposób się do nich odwołać
.effect {
	filter: grayscale(100%);
}
.effect2 {
	filter: saturate(300%) blur(3px);
}
--------------*/
.logo {
	margin: 0 auto;
}
.logo img {
	padding: 0 40px 0 40px;
}
/* BROWSER */
.browser {
	height: 750px;
	background-color: #f6f5f3;
	text-align: center;
}
.browser h5 {
	padding-top: 110px;
}
.browser p {
	padding: 0 270px;
}
.browser img:before {
	content: url("image/prntscr.png");
	display: block;
	position: absolute;
	z-index: 1;
}

/* TRY */
.try {
	height: 465px;
	background-color: #323969;
	text-align: center;
}
.try h2 {
	color: #ffffff;
	margin-top: 10px;
}
.try h5 {
	padding-top: 45px;
}
.hint {
	float: right;
	padding: 0 50px 0 50px;
}
.hint h5 {
	color: #ffffff;
	padding-top: 0;
}
.try form {
	margin: 40px 0 50px;
}

/* FOOTER */
footer {
	height: 335px;
}
footer:before {
	content:'';
	width: 0;
	height: 0;
	border-left: 335px solid transparent;
	border-top: 335px solid #ff6d6d;
	display: inline-block;
	position: absolute;
	right: 0;
	z-index: 0;
}
footer input {
	background-color: #f6f6f6;
	border: solid #767779;
	border-width: 1px;
}
footer li {
	display: inline-block;
	filter: grayscale(100%);
	padding-right: 10px;
}
footer ul, footer img {
	padding-left: 15px;
}
footer a {
	text-decoration: none;
}
footer h4 {
	margin: 0;
}
.line {
	margin-top: 95px;
}
.line p {
	font-size: 14px;
	padding-right:20px;
}
.line h3:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom:30px solid transparent;
	border-left: 50px solid #ff6d6d;
	display: inline-block;
	position: absolute;
	left: 76px;
	top: -10px;
}
.line h3:after {
	content:' Ex';
	position: relative;
	color: #ffffff;
}
.line h3, .line h4 {
	margin-bottom: 30px;
}
