body {
	margin: 0;
	background-color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
}
header {
	width:100%;
	height: 810px;
	text-align: center;
	background-size: cover;
	background-image: url("C:/Users/KASIA i PIOTR/Desktop/www/zadanie2/image/photo-1433354359170-23a4ae7338c6.jpg");
	background-color: transparent;
}
.container {
	width: 1140px;
}
h1 {
	margin: 0;
	padding: 165px 0 0;
	font-size: 60px;
	font-weight: 100;
	line-height: 75px;
}
h1:after {
	content:'';
	width: 60px;
	height: 60px;
	background-color: #8185a3;
	border-radius: 100%;
	display: block;
	margin:60px auto 40px;
}
.col-md-8 {
	display: inline-block;
	float: none;
}
.btn:before {
	content:'';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom:10px solid transparent;
	border-left: 15px solid #ffffff;
	display: block;
	margin: -80px auto 45px 89px;
}
.btn {
	background-color: #ff6d6d;
	border-radius: 5px;
	border: 0;
	cursor: auto;
	font-size: 16px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 80px;
	text-decoration: none;
	color: #ffffff;
	width:190px;
	height: 50px;
	display: inline-block;
}
p {
	color: #767779;
	font-size: 16px;
	line-height: 26px;
}
.btn small {
	margin-top: 20px;
}
small {
	font-size: 14px;
	color: #767779;
	font-weight: 400;
}
.prelude {
	height: 725px;
}
.prelude h4 {
	margin-top: 190px
}
.prelude p {
	padding-right: 10px;
}
h4 {
	font-size: 16px;
	font-weight: 500;
	color: #ff6d6d;
	margin: 0;
}
h2 {
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
}
.prelude h2:after {
	content:' ....';	
	color: #ff6d6d;
}
.feature {
	height: 675px;
	background-color: #f6f5f3;
	text-align: center;
}
.feature h4 {
	padding-top: 140px;
}
.col-md-4 {
	display: inline-block;
}
.col-md-4 p{
	padding: 0 30px 0;
}
h3 {
	font-size: 22px;
	font-weight: 500;
}
.description {
	height: 550px;
}
.description h2:after {
	content:' ....';	
	color: #ff6d6d;
}
.clients {
	height: 650px;
	background-color: #1f2026;
	text-align: center;
}
.clients p {
	padding: 0 35px;
}
.clients h3 {
	color: #ffffff;
}
.browser {
	height: 750px;
	background-color: #f6f5f3;
	text-align: center;
}
.browser h4 {
	padding-top: 110px;
}
.browser p {
	padding: 0 270px;
}
.try {
	height: 465px;
	background-color: #323969;
	text-align: center;
}
.try h2 {
	color: #ffffff;
}
.try h4 {
	padding-top: 45px;
}
a {
	color: #767779;
}
a:hover{
	color: #dadada;
}
.col-md-3 input {
	width: 261px;
	height: 48px;
	padding: 0;
	background-color: #474d78;
	border: solid #999cb4;
	border-width: 1px;
	border-radius: 3px;
	font-size: 16px;
	font-family:'Exo', sans-serif;
	color: #ffffff;
	text-indent: 30px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}
.col-md-3 a {
	background-color: #ff6d6d;
	border-radius: 3px;
	border: 0;
	cursor: auto;
	font-size: 16px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 50px;
	text-decoration: none;
	color: #ffffff;
	width:263px;
	height: 50px;
	display: inline-block;
}
.try form {
	margin: 40px 0 50px;
}
.col-md-3 {
	display: inline-block;
	padding: 0 15px;
}
.col-md-3 h4{
	color: #ffffff;
	float: right;
	display: inline-block;
}
footer {
	height: 335px;
}
.col-md-3 h5 {
	font-family: 'Lato', sans-serif;
	font-size: 26.88px;
	line-height: 33.6px;
	margin: 0;
}
.line div{
	display: inline-block;
}
.line input {
	background-color: #f6f6f6;
}
.line a {
	text-decoration: none;
}
.line h3 {
	margin: 0;
}